/*Homepage css*/
div.element-container.css-kljn8d.e1tzin5v3{
    text-align: justify;
}

div.css-ks98do.e16nr0p33 {
    text-align: justify;
}
/*Homepage css image*/
div.css-1a32fsj.e19lei0e0{
    padding-top: 5em;
}

/*Tittle css*/
span.css-10trblm.e16nr0p30{
    background-color: #234362;
    color: #FFFFFF;
    font-size: 40px;
}

/*Table css*/
th.col_heading.level0.col0.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(32, 36, 124);
}

th.col_heading.level0.col1.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(32, 36, 124);
}


th.row_heading.level0.row0.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}
/*Table css-row*/
th.row_heading.level0.row1.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row2.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row3.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row4.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row5.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row6.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row7.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row8.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row9.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

th.row_heading.level0.row10.css-th66yb.edw49t11 {
    font-weight: bold;
    color: rgb(255, 124, 1);
}

table.css-jbjnen.edw49t13{
    border-width: 4px;
    border-color: #1864af;
}

/*Contact us*/
div.css-m7esqn.epcbefy1{
    border-width: 4px;
    border-color: rgb(255, 124, 1);
}

/*Image caption*/
div.css-yx7z5o.etr89bj0{
    background-color: #F9B294;
    font-weight: bold;
}
